.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}

.navbar-toggle {
    z-index: 3;
}

.logo {
    padding: 0px;
}

.logo img {
    width: 100px;
    margin: 0px auto;
    display: table;
}

.topmenu {
    display: block;
    border: solid 1px #CCC;
    border-bottom: none;
    position: relative;
    min-height: 60px;
    margin-bottom: 0px;
}

.topmenu:after {
    content: "";
    background: -webkit-linear-gradient(left, rgba(92, 7, 52, 1) 0%, rgba(134, 29, 84, 1) 12%, rgba(255, 93, 177, 1) 47%, rgba(83, 0, 30, 1) 100%);
    display: block;
    height: 10px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.header-mainmenu {
    min-height: 35px;
}

.header-mainmenu ul {
    font-size: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

.header-mainmenu li {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    min-width: auto;
}

.header-mainmenu a {
    color: #444;
    display: block;
    font: normal 14px/35px sans-serif;
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.header-mainmenu .dropdown:after {
    content: ' \25bc';
}

.header-mainmenu li:hover a {
    background: #ccc;
}

.header-mainmenu li ul {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 35px;
    visibility: hidden;
    z-index: 1;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.header-mainmenu li:hover ul {
    opacity: 1;
    top: 50px;
    visibility: visible;
}

.header-mainmenu li ul li {
    width: 100%;
}

.header-mainmenu li ul a:hover {
    background: #bbb;
}