<div id="tf-services">
    <div class="container">
        <div class="container">
            <form role="form" method="post" class="application-form" name="application" novalidate>
                <div class="stepwizard">
                    <div class="stepwizard-row setup-panel">
                        <div class="stepwizard-step">
                            <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
                            <p>Intro</p>
                        </div>
                        <div class="stepwizard-step">
                            <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                            <p>Personal</p>
                        </div>
                        <div class="stepwizard-step">
                            <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                            <p>Program</p>
                        </div>
                        <div class="stepwizard-step">
                            <a href="#step-4" type="button" class="btn btn-default btn-circle" disabled="disabled">4</a>
                            <p>Education</p>
                        </div>
                        <div class="stepwizard-step">
                            <a href="#step-5" type="button" class="btn btn-default btn-circle" disabled="disabled">5</a>
                            <p>Submit</p>
                        </div>
                    </div>
                </div>
                <form role="form">
                    <div class="row setup-content" id="step-1">
                        <div class="col-xs-12">
                            <div class="col-md-12">
                                <h1>Personal Details</h1>
                                <div class="row" style="background: white; padding: 5%; ">
                                    <div class="col-md-4">
                                        <form>
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <div class="form-group">
                                                        <select class="form-control" id="idtitle" ng-model="data.title" name="title">
                                                    <option value="" selected="selected">Title</option>
                                                    <option value="mr">Mr</option>
                                                    <option value="mrs">Mrs</option>
                                                </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <div class="form-group">
                                                        <select class="form-control" id="gender" ng-model="data.gender" name="gender">
                                                    <option value="" selected="selected">Gender</option>
                                                    <option value="male">Male</option>
                                                    <option value="female">Female</option>
                                                </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" ng-model="data.fullname" name="fullname" id="inputfullname" placeholder="Full Name" required="required" text-only="text-only">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" ng-model="data.dateofbirth" name="dateofbirth" id="dateOfBirth" placeholder="Date of Birth" required="required">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" ng-model="data.country" name="country" id="inputcountry" placeholder="Country" required="required" text-only="text-only">
                                            </div>
                                            <div class="checkbox">
                                                Visa Required &nbsp;
                                                <label class="form-check-label">
                                            <input type="radio" class="form-check-input" id="inputvisayes"  ng-model="data.visa" name="visa" value="required">
                                            Yes &nbsp;
                                        </label>
                                                <label class="form-check-label">
                                            <input type="radio" class="form-check-input" id="inputvisano" ng-model="data.visa" name="visa" value="notrequired">
                                            No &nbsp;
                                        </label>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="col-md-4" style="margin-top: 49px;">
                                        <div class="form-group">
                                            <input type="text" class="form-control" ng-model="data.middlename" name="middlename" id="inpumiddlename" placeholder="Middle Name" required="required" text-only="text-only">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" ng-model="data.nationality" name="nationality" id="inputnationality" placeholder="Nationality" required="required" text-only="text-only">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" ng-model="data.passport" name="passport" id="inputpassport" placeholder="Passport No" required="required" y>
                                        </div>
                                        <div class="checkbox">
                                            Transport Required &nbsp;
                                            <label class="form-check-label">
                                            <input type="radio" class="form-check-input" id="inputtransyes" ng-model="data.transport" name="transport" value="required">
                                            Yes &nbsp;
                                        </label>
                                            <label class="form-check-label">
                                            <input type="radio" class="form-check-input" id="inputtransno" ng-model="data.transport" name="transport" value="notrequired">
                                        No &nbsp;
                                        </label>
                                        </div>
                                    </div>
                                    <div class="col-md-4" style="margin-top: 49px;">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="inputlastname" placeholder="Last Name" required="required" ng-model="data.lastname" name="lastname" text-only="text-only">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="inputcob" placeholder="Country of birth" required="required" ng-model="data.countryofbirth" name="countryofbirth" text-only="text-only">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="inputpassportvalid" placeholder="Passport valid untill" required="required" ng-model="data.passportvalidtill" name="passportvalidtill">
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="inputaddress" placeholder="Address" required="required" ng-model="data.address" name="address">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="inputpostalcode" placeholder="Postal Code" required="required" ng-model="data.postalcode" name="postalcode" numbers-only="numbers-onl">
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-group">
                                            <button class="btn btn-primary nextBtn btn-lg pull-right" style="    right: 30px !important; bottom: 25px !important; position: absolute;" type="button">Next</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </form>
        </div>
    </div>
</div>